<h4 class="center" id="turn">Loading...</h4>

<div id="gamewrapper" class="row">
	<div class="col-md-offset-3 col-md-3">
		<p class="board-assign" data-language="your board"></p>
		<div id="grid1"></div>
	</div>
	<div class="col-md-3">
		<p  class="board-assign" data-language="enemy board"></p>
		<div id="grid2"></div>
	</div>
</div>

<div class="container margin-top">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<button id="goback" class="full-width" data-language="go back"></button>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<audio id="explosion" src="assets/sounds/explosion.mp3"></audio>
<audio id="splash" src="assets/sounds/splash.mp3"></audio>

<div id="hit-notification"><div id="hit-message"></div></div>