<div id="notification"><div id="message"></div></div>
<div id="buttonpanel" class="center">
	<h3 data-language="games"></h3>
	<div class="row no-gutter">
		<div class="col-md-4">
			<button id="newgame">
				<div class="row">
					<div class="col-md-3"><span class="glyphicon glyphicon-user vcenter" aria-hidden="true"></span></div>
					<div class="col-md-9" data-language="new game player"></div>
				</div>
			</button>
		</div>
		<div class="col-md-4">
			<button id="newgameai">
				<div class="row">
					<div class="col-md-3"><span class="glyphicon glyphicon-cog vcenter" aria-hidden="true"></span></div>
					<div class="col-md-9" data-language="new game computer"></div>
				</div>
			</button>
		</div>
		<div class="col-md-4">
			<button id="removegames">
				<div class="row">
					<div class="col-md-3"><span class="glyphicon glyphicon-trash vcenter" aria-hidden="true"></span></div>
					<div class="col-md-9" data-language="delete games"></div>
				</div>
			</button>
		</div>
	</div>
</div>
<table id="gamelist" class="center">
	<tr><th>Loading games...</th></tr>
</table>

<div id="createdpanel" class="center" data-language="creators"></div>

<div id="languagepanel" class="center">
	<div id="english" data-toggle="tooltip" title="English"><img class="small-flag" src="assets/images/us.png" alt="us" /></div>
	<div id="dutch" data-toggle="tooltip" title="Dutch"><img class="small-flag" src="assets/images/nl.png" alt="nl" /></div>
	<div id="german" data-toggle="tooltip" title="German"><img class="small-flag" src="assets/images/de.png" alt="de" /></div>
</div>