/* ------------------------- imports ------------------------- */
@import url('http://fonts.googleapis.com/css?family=Exo:100,200,400');
@import url('bootstrap.min.css');

html, html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* ------------------------- elements ------------------------- */
body {
	font-family: 'Exo', sans-serif;
	font-weight: 100;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;
	margin: 0px;
	background: #002040;
}

h1, h2 {
	text-align: center;
}

h3 {
	margin: 0px;
	padding: 0px;
}

button {
	font-family: 'Exo', sans-serif;
	background: #2196F3;
	text-transform: uppercase;
	border: 1px solid #2196F3;
	color: #fff;
	display: inline-block;
	padding: 6px 16px;
	font-size: 12px;
	transition: all 0.1s ease-in-out;
	width: 100%;
	margin: 2px 0px;
}

button:hover {
	background: transparent;
	border-color: #2196F3;
	color: #2196F3;
}

/* ------------------------- ids ------------------------- */
#grid {
	width: 500px;
	height: 500px;
	position: relative;
	margin: 10px auto 0 auto;
}

#grid div {
	width: 48px;
	height: 48px;
	float: left;
	border: 1px solid #ccc;
}

#gamewrapper {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#grid1, #grid2 {
	width: 400px;
	height: 400px;
	position: relative;
}

#grid1 div div, #grid2 div div {
	border: none;
	z-index: 999999;
	position: absolute;
}

#grid1 div, #grid2 div {
	width: 38px;
	height: 38px;
	float: left;
	border: 1px solid #ccc;
}

#sendboard, #goback {
	width: 500px;
	display: block;
}

#view {
	width: 100%;
	position: absolute;
	z-index: 9999;
	margin: 20px 0px;
}

#buttonpanel button {
}

#buttonpanel h3 {
	padding: 10px 0px;
}

/* ------------------------- classes ------------------------- */
.vcenter {
	margin: 8px 0px;
}

@media screen and (min-width: 992px) {
	
	.no-gutter .col-md-4 {
		padding: 0px;
	}

	.no-gutter .col-md-4:first-child {
		padding-left: 15px;
	}

	.no-gutter .col-md-4:last-child {
		padding-right: 15px;
	}

}

.location {
	background-color: #ADD8E6;
	width: 50px;
	height: 50px;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}

.left-align {
	padding-left: 10px;
	text-align: left;
}

.hit {
	position: absolute;
	z-index: 9999;
	opacity: 0.8;
	background-color: green;
}

.hit-hover:hover {
	opacity: 0.8;
	background-color: black;
	cursor: pointer;
}

.no-hit {
	z-index: 9999;
	opacity: 0.5;
	background-color: red;
}

.gridwrapper {
	width: 400px;
	display: inline-block;
}

.gridwrapper p {
	margin-bottom: 10px;
}

.offset-20 {
	width: 20px;
	display: inline-block;
}

.center {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hovergrid {
	background-color: black;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	z-index: 1000;
}

.flip-container {
	margin: 0 auto;
	padding: 0px;
	perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 500px;
	height: 128px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

/* ------------------------- keyframes ------------------------- */
@keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}
@-moz-keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}
@-webkit-keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}
@-o-keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}

.header {
	background-color: #153C65;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* Waves */

.waves
{
	width:100%;
	height:25vh;
	min-height:10em;
	position:relative;
	overflow:hidden;
	padding-top: 18%;
}

.wave
{
	width:calc( 100% + 4em );
	height:100%;
	position:absolute;
	left:-2em;
	background:bottom center repeat-x;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}

/* Individual wave layers */

.wave_1
{
  animation-name:wave_1;
  animation-duration:3400ms;
  animation-delay:-1200ms;
  top:-1.0em;
  z-index:1;
  opacity:0.10;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="246" height="2000" viewBox="0 0 246 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#153C65" d="M0 2000c50.43 0 72.57-20.522 123-20.522 50.43 0 71.34 20.522 123 20.522V0H0v2000z"/></svg>'); 
  background-position:bottom left;
}

.wave_2
{
  animation-name:wave_2;
  animation-duration:3200ms;
  animation-delay:-600ms;
  top:-2.0em;
  z-index:2;
  opacity:0.25;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="307" height="2000" viewBox="0 0 307 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#153C65" d="M0 0h307v2000c-64.47 0-90.563-25.623-153.5-25.623C90.565 1974.377 62.935 2000 0 2000V0z"/></svg>');
  background-position:bottom right;
}

.wave_3
{
  animation-name:wave_3;
  animation-duration:2800ms;
  animation-delay:-2400ms;
  top:-3.0em;
  z-index:3;
  opacity:0.50;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="384" height="2000" viewBox="0 0 384 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#153C65" d="M0 0h384v2000c-80.64 0-113.28-32.047-192-32.047S78.72 2000 0 2000V0z"/></svg>');
  background-position:bottom center;
}

.wave_4
{
  animation-name:wave_4;
  animation-duration:2600ms;
  animation-delay:-1800ms;
  top:-4.0em;
  z-index:4;
  opacity:0.75;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="480" height="2000" viewBox="0 0 480 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#153C65" d="M480 2000c-100.8 0-141.6-39.892-240-39.892S98.4 2000 0 2000V0h480v2000z"/></svg>');
  background-position:bottom left;
}

.wave_5
{
  animation-name:wave_5;
  animation-duration:3000ms;
  animation-delay:-3000ms;
  top:-5.0em;
  z-index:5;
  opacity:0.90;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="600" height="2000" viewBox="0 0 600 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="#153C65" d="M0 2000c123 0 177-49.866 300-49.866S474 2000 600 2000V0H0v2000z"/></svg>');
  background-position:bottom right;
}

/* Wave animations */

@keyframes wave_1
{
	from { transform: rotate(0deg)   translatey(-0.61em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-0.61em) rotate(-360deg) ; }
}

@keyframes wave_2
{
	from { transform: rotate(0deg)   translatey(-0.77em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-0.77em) rotate(-360deg) ; }
}

@keyframes wave_3
{
	from { transform: rotate(0deg)   translatey(-0.96em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-0.96em) rotate(-360deg) ; }
}

@keyframes wave_4
{
	from { transform: rotate(0deg)   translatey(-1.2em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-1.2em) rotate(-360deg) ; }
}

@keyframes wave_5
{
	from { transform: rotate(0deg)   translatey(-1.5em) rotate(0deg)    ; }
	to   { transform: rotate(360deg) translatey(-1.5em) rotate(-360deg) ; }
}

#buttonpanel, #gamelist {
	width: 500px;
	background: rgba(0, 0, 0, 0.3);
	font-weight: 200;
}