/* ------------------------- imports ------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* ------------------------- elements ------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
	-o-animation: fadein 1s;
}

h1, h2 {
	text-align: center;
}

/* ------------------------- ids ------------------------- */
#grid {
	width: 500px;
	height: 500px;
	position: relative;
	margin: 60px auto 0 auto;
}

#grid div {
	width: 48px;
	height: 48px;
	float: left;
	border: 1px solid #ccc;
}

#view {
    width: 100%;
}

#buttonpanel button {
    display: inline-block;
}

/* ------------------------- classes ------------------------- */
.location {
	background-color: #ADD8E6;
	width: 50px;
	height: 50px;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}

.center {
    margin: 0 auto;
    text-align: center;
}

.hovergrid {
	background-color: black;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	z-index: 9999;
}

.flip-container {
	margin: 0 auto;
	padding: 0px;
	perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 500px;
	height: 128px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

/* ------------------------- keyframes ------------------------- */
@keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}
@-moz-keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}
@-webkit-keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}
@-o-keyframes fadein {
	from	{opacity:0;}
	to 		{opacity:1;}
}